section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
section>p {
    width: 95%;
    margin:auto;
    margin-bottom: 10px;
}
form>div {
    width: 85%;
    margin:auto;
    
}
footer {
    display: flex;
    flex-direction: column;
}
.Button {
    width: fit-content;
    height:max-content;
    margin: 10px auto;
    padding: 5%;
    border: none;
    background-color: #5487BB;
    color: #1C1917;
    border-radius: 10px;
    font-weight:600;
    font-size: 16px;
    box-shadow: 1px 2px 3px #1C1917;

}
.Button:hover {
    transform: translateY(-5px);
}