.App {
    width: 100%;
    height:100%;
    font-size: large;
}
.Label {
    width:max-content;
    color: #1C1917;
    
}
h4 {
    color:#1C1917;
}
textarea {
    resize: vertical;
}
/* .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
fieldset {
    display: flex;
    flex-direction: column;

}
fieldset>.Button {
    align-self: flex-end;
    margin: 0;
}
aside {
    background-color: #EC6136;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    margin: 3px 3px;
}
.Input, textarea, select {
    width: 100%;
    
    background-color: #CD3F13;
    border: none;
    padding: 4px;
    color: #1C1917
}

h2 {
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}
.button-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}
.resume-buttons>.form-group {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #1C1917;
    padding: 5px;
}
#applied {
    grid-column: 1 / 3;
}
.button-container>.form-group, .resume-buttons {
    height:fit-content;
    width: 100%;
    grid-auto-flow: column;
    grid-column: 1 / 3;
    
    grid-row: 3 / 4;

}
.button-container>.form-group {
    background-color: #EC6136;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #1C1917;
    padding: 5px;
}
.resume-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
}
#none-matching {
    text-align: center;
}
.button-container>.form-group>label, .resume-buttons>.form-group>label {
    color:#1C1917;
    width: fit-content;
    font-size: 14px;
}

#update-resume {
    grid-column: 2 / 3;
}
#delete-resume {
    grid-column: 3 / 4;
}
#upload-resume {
    grid-column: 1 / 4;
}

.resume-buttons>.form-group.Label {
    width: fit-content;
}
.account-container {
    background-color: #CD3F13;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #1C1917;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}