.input-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
}
#all-jobs-input, #search-clt-input {
    width: min-content;
}
.checkbox-container {
    display: flex;
    width: 95%;
    
    justify-content: space-between;
}
.container {
    display:flex;
    justify-content: center;
}
fieldset {
    border: none;
}