.input-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
}
#all-jobs-input {
    width: min-content;
}
.container {
    display:flex;
    justify-content: center;
}